@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);




#header1-8 H1 {
  font-size: 80px;
  font-family: 'Open Sans Condensed', sans-serif;
}
#header1-8 SPAN {
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 36px;
  color: #efefef;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-e .mbr-article P {
  color: #efefef;
  font-size: 20px;
}
#slider-5 H1 {
  font-size: 72px;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-5 P {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#msg-box1-d .mbr-header .mbr-header__text {
  color: #fff;
  font-size: 72px;
  text-align: right;
}
#msg-box1-d .mbr-article {
  color: #fff;
}
#form1-b .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
