@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



#slider-5 H1 {
  font-size: 60px;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-5 P {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-5 DIV {
  font-size: 46px;
  font-family: 'Oxygen', sans-serif;
}
#form1-b .mbr-header__text {
  color: #ffffff;
  font-size: 36px;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-k P {
  text-align: left;
}
#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-q .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 60px;
}
#content5-q .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-q .mbr-article {
  color: #fff;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
