@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);



#slider-5 H1 {
  font-size: 60px;
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-5 P {
  text-align: left;
  font-family: 'Oxygen', sans-serif;
  color: #efefef;
}
#slider-5 DIV {
  font-size: 46px;
  font-family: 'Oxygen', sans-serif;
}
#menu-6 .mbr-brand__name {
  font-size: 16px;
}
#menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-6 .mbr-navbar__hamburger {
  color: #efefef;
}
#msg-box4-x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-x .mbr-article {
  color: #ffffff;
}
#msg-box5-z .mbr-header__text {
  color: #ffffff;
}
#msg-box5-z .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-z .mbr-article {
  color: #ffffff;
}
#msg-box4-y .mbr-header__text {
  color: #ffffff;
}
#msg-box4-y .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-y .mbr-article {
  color: #ffffff;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-g .mbr-navbar__hamburger {
  color: #efefef;
}
#header4-k P {
  text-align: left;
}
#menu-j .mbr-brand__name {
  font-size: 16px;
}
#menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-j .mbr-navbar__hamburger {
  color: #efefef;
}
#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-m .mbr-navbar__hamburger {
  color: #efefef;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#msg-box4-s .mbr-article P {
  font-size: 15px;
}
#msg-box4-t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-t .mbr-article {
  color: #ffffff;
}
#msg-box4-u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-u .mbr-article {
  color: #ffffff;
}
#msg-box4-v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#menu-10 .mbr-brand__name {
  font-size: 16px;
}
#menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-10 .mbr-navbar__hamburger {
  color: #efefef;
}
#form1-14 .mbr-header__text {
  color: #efefef;
}
